<app-header></app-header>
<div class="home-container">
  <div class="left-content">
    <h1>Find the Perfect Laptop for You.</h1>
    <p>"Awaken your creativity, boost your productivity and take your projects to the next level with a laptop that adapts to your digital lifestyle - discover a world of possibilities at your fingertips!"</p>
    <button class="cta-button" routerLink="/laptops" routerLinkActive="active">EXPLORE NOW</button>
  </div>
  <div class="right-content">
    <img src="assets/home.jpg" alt="home" />
  </div>
</div>
<app-footer></app-footer>
